<p>
    <h3>{{ post.description }}</h3>
    <b>Author: </b>{{ post.author }}<br>
    <b>Source: </b><a href="{{ post.source }}">{{ post.source }}</a><br>
    <b>Direct Link: </b><a href="{{ post.direct_link }}">{{ post.direct_link }}</a><br>
    <b>Date Created: </b> {{ post.date_created }}<br>
    <b>Links: </b><br>
    <a href="{{ post.url_1 }}">{{ post.url_1 }}</a><br>
    {% if post.url_2 %}
    <a href="{{ post.url_2 }}">{{ post.url_2 }}</a><br>
    {% endif %}
    {% if post.url_3 %}
    <a href="{{ post.url_3 }}">{{ post.url_3 }}</a><br>
    {% endif %}
    {% if post.url_4 %}
    <a href="{{ post.url_4 }}">{{ post.url_4 }}</a><br>
    {% endif %}
    {% if post.url_5 %}
    <a href="{{ post.url_5 }}">{{ post.url_5 }}</a><br>
    {% endif %}
    {% if post.url_6 %}
    <a href="{{ post.url_6 }}">{{ post.url_6 }}</a><br>
    {% endif %}
</p>
<hr>