{% extends 'bootstrap/base.html' %}
<html>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <p style="text-align:left;">
            <a href="{{ url_for('index') }}">Home</a>
            <span style="float:right;">Last Update: {{ last_update }}</span>
        </p>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>